In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

### Module Import

In [2]:
# Data
import pandas as pd
import numpy as np

# Crawling
import requests
import json

In [3]:
login_df = pd.read_csv("./login/Commerce6_login.csv")
login_df

     id    pw      nickname    location
0   문재인  1100  moon_justice   서울특별시 종로구
1   이준석  1234   bicycle_guy  서울특별시 영등포구
2   이명박  3243      liar_lee   서울특별시 서초구
3  test  1234          1234        1234
4   나호용  3456          여름바다      서울 송파구

## Class list

- login
    + 로그인 / 회원 DB 처리 (담당)
- product
    + 상품보기
- purchase
    + 상품결제
- share
    + 결제 처리 메일 보내기

In [4]:
# 로그인 기능을 만들면, 쇼핑 기능과 연결할 뿐만 아니라 커뮤니케이션 기능을 만들 수도 있겠네요.
# 리뷰 게시판을 만들고 내가 글을 써볼 수도 있겠어요.
class Commerce6_login :
  
  def __init__(self, id, pw) :
    self.id = id
    self.pw = pw

  def login_doit(self) :
    login_df = pd.read_csv("./login/Commerce6_login.csv")
    
    # Check Login
    if len(login_df.loc[(login_df['id'] == self.id) & (login_df['pw'] == self.pw)]) == 1 :
      return 'login_complete'
    else :
      return 'login_fail'

  def login_guest(self) :
    login_df = pd.read_csv("./login/Commerce6_login.csv")
    
    info_table = ['id',	'pw',	'nickname',	'location']
    return_table = []

    for i in range( 4 ) : # id	pw	nickname	location
      return_table.append( input("Enter Your Information [{}] : ".format(info_table[i])) )
    
    return_table_df = pd.DataFrame( np.array(return_table).reshape(1, -1), columns=info_table )
    
    login_df = login_df.append(return_table_df)
    login_df.to_csv("./login/Commerce6_login.csv", index = False)

    return 'login_guest_complete'

In [5]:
C = Commerce6_login('id', 'pw')
C.id

'id'

In [6]:

# 상품을 장르별로도 검색해볼 수는 없을까요?
# 단순히 구매하기 말고, csv 파일을 DB 처럼 활용하는 방법으로 장바구니도 구현할 수 있을것 같습니다.
class Commerce6_product :
  def __init__(self, id, pw) :
    self.id = id
    self.pw = pw

  def product_infomation_resule(self) :
    login_df = pd.read_csv("./login/Commerce6_login.csv")
    product_df = pd.read_csv("./product/bestsellers with categories.csv")

    while True :
      product_choice_options = int(input("평점높은순(1) / 리뷰많은순(2) / 낮은가격순(3) / 높은가격순(4) / 최신출시순(5): "))
      
      if product_choice_options == 1 :
        product_df = product_df.sort_values(by=['User Rating'], axis=0, ascending=False)
      elif product_choice_options == 2 :
        product_df = product_df.sort_values(by=['Reviews'], axis=0, ascending=False)
      elif product_choice_options == 3 :
        product_df = product_df.sort_values(by=['Price'], axis=0, ascending=True)
      elif product_choice_options == 4 :
        product_df = product_df.sort_values(by=['Price'], axis=0, ascending=False)
      elif product_choice_options == 5 :
        product_df = product_df.sort_values(by=['Year'], axis=0, ascending=False)

      for i in range( 5 ) :
        print( "-------------------------------" )
        print( "-{} 번째 서적번호------------------".format(i+1) )
        print( "-------------------------------" )
        for j in range( len(product_df.columns) ) :
          if j == 4 :
            print( "{} : {} 원".format(product_df.columns.to_list()[j], format(product_df.loc[i][j]*1000, ",") ) )
          else :
            print( "{} : {}".format(product_df.columns.to_list()[j], product_df.loc[i][j]) )
        print( "-------------------------------" )

      choice_product_booknumber = int(input("구매하실 서적 번호를 입력 : "))

      print( "{} 님, 구매 신청하신 서적은 {} 입니다.".format( login_df.loc[(login_df['id'] == self.id) & (login_df['pw'] == self.pw)]['nickname'].values[0], product_df.loc[choice_product_booknumber-1][0] ) )
      print( "가격은 {} 원입니다.".format( product_df.loc[choice_product_booknumber][4]*1000 ) )
      
      choice_product_bookorder = int(input("구매(1) / 비구매(2) : "))

      if choice_product_bookorder == 1 :
        print("결제처리 진행 중")
        break
      elif choice_product_bookorder == 2 :
        print("다른 서적을 확인 중")
        pass
  
    return 'product_choose_success'

In [7]:
# 결제가 완료되었을 때, 디테일한 주문서를 작성할 수 있겠죠? 안전결제를 위해 조건문&반복문을 활용해 
# 자체적으로 보안문자기능을 만들고, Delivery 클래스를 새로 생성하여
# 영수증을 만들어 배송처리하는데 데이터를 넘겨주는 기능도 만들 수 있겠죠.
class Commerce6_purchase :
    pass

In [8]:

# 카카오톡 혹은 메일로 결제 내용을 보내줄 수도 있겠습니다.
class Commerce6_share :
    pass

### Execute

In [9]:
a = Commerce6_product("나호용", 3456)
a.product_infomation_resule()

-------------------------------
-1 번째 서적번호------------------
-------------------------------
Name : 10-Day Green Smoothie Cleanse
Author : JJ Smith
User Rating : 4.7
Reviews : 17350
Price : 8,000 원
Year : 2016
Genre : Non Fiction
-------------------------------
-------------------------------
-2 번째 서적번호------------------
-------------------------------
Name : 11/22/63: A Novel
Author : Stephen King
User Rating : 4.6
Reviews : 2052
Price : 22,000 원
Year : 2011
Genre : Fiction
-------------------------------
-------------------------------
-3 번째 서적번호------------------
-------------------------------
Name : 12 Rules for Life: An Antidote to Chaos
Author : Jordan B. Peterson
User Rating : 4.7
Reviews : 18979
Price : 15,000 원
Year : 2018
Genre : Non Fiction
-------------------------------
-------------------------------
-4 번째 서적번호------------------
-------------------------------
Name : 1984 (Signet Classics)
Author : George Orwell
User Rating : 4.7
Reviews : 21424
Price : 6,000 원
Year : 2017
Genre : Fiction
-------------------------------
-------------------------------
-5 번째 서적번호------------------
-------------------------------
Name : 5,000 Awesome Facts (About Everything!) (National Geographic Kids)
Author : National Geographic Kids
User Rating : 4.8
Reviews : 7665
Price : 12,000 원
Year : 2019
Genre : Non Fiction
-------------------------------
여름바다 님, 구매 신청하신 서적은 10-Day Green Smoothie Cleanse 입니다.
가격은 22000 원입니다.
결제처리 진행 중

'product_choose_success'