import packages

In [6]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

# magic command
%matplotlib inline

# 실수표기로 변경 (과학적 수 표기법 해제)
pd.options.display.float_format = '{:.5f}'.format

load data

In [7]:
df = pd.read_csv('data_credit.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3362796 entries, 0 to 3362795
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   store_id      int64
 1   date          object
 2   time          object
 3   card_id       object
 4   amount        int64
 5   installments  float64
 6   days_of_week  int64
 7   holyday       int64
dtypes: float64(1), int64(4), object(3)
memory usage: 205.2+ MB

범주형 데이터가 총 세개이며 float형 데이터가 존재하므로 소수점 날리지 않도록 유의

In [11]:
df.head()

,store_id,date,time,card_id,amount,installments,days_of_week,holyday
0,0,2016-12-14,18:05:31,d297bba73f,5,NaN,2,0
1,0,2016-12-14,18:05:54,d297bba73f,-5,NaN,2,0
2,0,2016-12-19,12:42:31,0880849c05,144,NaN,0,0
3,0,2016-12-19,12:48:08,8b4f9e0e95,66,NaN,0,0
4,0,2016-12-19,13:31:08,7ad237eed0,24,NaN,0,0