import

In [1]:
import pandas as pd 
import numpy as np

file load

`pd.read_***` 로 여러가지 파일을 불러올 수 있다. csv, pdf, html, json $\cdots$

- pickle : 압축한 데이터

In [2]:
commerce = pd.read_csv("dataset/commerce.csv")
diabetes = pd.read_csv("dataset/diabetes.csv", encoding="EUCKR")
history = pd.read_csv("dataset/Historical_Product_Demand.csv")

시리즈?
- 인덱스와 값의 2열로로 구성
- dictionary를 시리즈로 변환할 수 있다.
- wordcloud, 분류 등의 작업에서 사용

시리즈 : 데이터 삽입

In [3]:
data_list = [3000, 40000, 5000, 7000, 10000, 10000]
data_tuple = (3000, 40000, 5000, 7000, 10000, 10000)
series = pd.Series(data_tuple, index = ["라면", "김치", "떡볶이", "마라탕", "볶음밥", "짬뽕"])

In [4]:
print(series)

라면      3000
김치     40000
떡볶이     5000
마라탕     7000
볶음밥    10000
짬뽕     10000
dtype: int64

시리즈 : dictionary에서 변환

In [5]:
data_dict = {"음식" : 0000, "칼국수" : 6000}
series2 = pd.Series(data_dict)

In [6]:
print(series)

라면      3000
김치     40000
떡볶이     5000
마라탕     7000
볶음밥    10000
짬뽕     10000
dtype: int64

시리즈 : 데이터 처리

In [7]:
print(series[[3]])

마라탕    7000
dtype: int64

In [8]:
print(series[[1:]])

SyntaxError: invalid syntax (<ipython-input-8-5e3f24455de9>, line 1)

series에 속성을 지정하여 index 또는 Value만 추출할 수 있다.

In [25]:
# index만 추출
print(series.index)
# 값 value만 추출
print(series.values)

Index(['라면', '김치', '떡볶이', '마라탕', '볶음밥', '짬뽕'], dtype='object')
[ 3000 40000  5000  7000 10000 10000]

자연어 처리의 라이브러리들이 보통 series에 최적화 되어있다.

df : 데이터 삽입

In [28]:
tuple_data = ((1, 2, 3), (4, 5, 6))
print(pd.DataFrame(tuple_data, columns = ["A", "B", "C"]))

   A  B  C
0  1  2  3
1  4  5  6

In [32]:
diabetes

     임신  포도당  혈압  피부 두께  인슐린   BMI  당뇨계열 병  나이  결과
0     6  148  72     35    0  33.6   0.627  50   1
1     1   85  66     29    0  26.6   0.351  31   0
2     8  183  64      0    0  23.3   0.672  32   1
3     1   89  66     23   94  28.1   0.167  21   0
4     0  137  40     35  168  43.1   2.288  33   1
..   ..  ...  ..    ...  ...   ...     ...  ..  ..
763  10  101  76     48  180  32.9   0.171  63   0
764   2  122  70     27    0  36.8   0.340  27   0
765   5  121  72     23  112  26.2   0.245  30   0
766   1  126  60      0    0  30.1   0.349  47   1
767   1   93  70     31    0  30.4   0.315  23   0

[768 rows x 9 columns]

데이터 확인

- [] 인덱싱하거나 , `.` 으로 불러오거나
- 모두 불러온 열의 특정 행만 인덱싱 할 수 있다.
    - ex : `diabetes['변수'][:10]

In [46]:
print(diabetes['혈압'][:5])
print("---------------------")
print(diabetes.인슐린[:5])

0    72
1    66
2    64
3    66
4    40
Name: 혈압, dtype: int64
---------------------
0      0
1      0
2      0
3     94
4    168
Name: 인슐린, dtype: int64

`dataframe[['index1', 'index2',]]` : 데이터셋을 나눌 때 사용하게 된다.

In [49]:
diabetes[["혈압", "인슐린","나이","포도당", "결과"]]

     혈압  인슐린  나이  포도당  결과
0    72    0  50  148   1
1    66    0  31   85   0
2    64    0  32  183   1
3    66   94  21   89   0
4    40  168  33  137   1
..   ..  ...  ..  ...  ..
763  76  180  63  101   0
764  70    0  27  122   0
765  72  112  30  121   0
766  60    0  47  126   1
767  70    0  23   93   0

[768 rows x 5 columns]

슬라이싱 할 때 `:` 과 `,` 를 모두 사용할 수 있다.

In [51]:
diabetes.loc[0:4]

   임신  포도당  혈압  피부 두께  인슐린   BMI  당뇨계열 병  나이  결과
0   6  148  72     35    0  33.6   0.627  50   1
1   1   85  66     29    0  26.6   0.351  31   0
2   8  183  64      0    0  23.3   0.672  32   1
3   1   89  66     23   94  28.1   0.167  21   0
4   0  137  40     35  168  43.1   2.288  33   1

단, `,` 를 사용할 때에는 대괄호 두개 `[[]]` 사용해야 한다. 
- 위에서 변수명 모아온 과정과 동일

**범위를 가져올 때에는 대괄호 필요 없지만 각 값을 따로 가져와야 할 때는 대괄호가 필요하다** -> 모든 상황에 적용됨

In [54]:
diabetes.loc[[0,4]]

   임신  포도당  혈압  피부 두께  인슐린   BMI  당뇨계열 병  나이  결과
0   6  148  72     35    0  33.6   0.627  50   1
4   0  137  40     35  168  43.1   2.288  33   1

결과로 인덱스 설정
- 주요하게 봐야 할 값을 index로 설정하면 편리하다

In [60]:
diabetes.set_index("결과")

    임신  포도당  혈압  피부 두께  인슐린   BMI  당뇨계열 병  나이
결과
1    6  148  72     35    0  33.6   0.627  50
0    1   85  66     29    0  26.6   0.351  31
1    8  183  64      0    0  23.3   0.672  32
0    1   89  66     23   94  28.1   0.167  21
1    0  137  40     35  168  43.1   2.288  33
..  ..  ...  ..    ...  ...   ...     ...  ..
0   10  101  76     48  180  32.9   0.171  63
0    2  122  70     27    0  36.8   0.340  27
0    5  121  72     23  112  26.2   0.245  30
1    1  126  60      0    0  30.1   0.349  47
0    1   93  70     31    0  30.4   0.315  23

[768 rows x 8 columns]

In [61]:
# n번 환자의 특정 값 (임신, 혈압, 인슐린, 나이, 결과) 확인
diabetes.loc[[0], ["임신", "혈압", "인슐린", "나이", "결과"]]

   임신  혈압  인슐린  나이  결과
0   6  72    0  50   1

In [65]:
diabetes.loc[3:5, ["나이", "혈압", "결과"]]

   나이  혈압  결과
3  21  66   0
4  33  40   1
5  30  74   0

In [67]:
diabetes.loc[[3, 6, 9], ["나이", "혈압", "결과"]]

   나이  혈압  결과
3  21  66   0
6  26  50   1
9  54  96   1

특정 값 기준으로 정렬

In [75]:
# column명 지정, 정렬 방향 지정
diabetes_sorted = diabetes.sort_values("나이", ascending=True)  # 오름차순
diabetes_sorted.head(4)

     임신  포도당  혈압  피부 두께  인슐린   BMI  당뇨계열 병  나이  결과
255   1  113  64     35    0  33.6   0.543  21   1
60    2   84   0      0    0   0.0   0.304  21   0
102   0  125  96      0    0  22.5   0.262  21   0
182   1    0  74     20   23  27.7   0.299  21   0

`drop` : 열 제거

In [78]:
diabetes_temp1 = diabetes
diabetes_temp1.drop(["임신", "포도당"], axis = 1).head()

   혈압  피부 두께  인슐린   BMI  당뇨계열 병  나이  결과
0  72     35    0  33.6   0.627  50   1
1  66     29    0  26.6   0.351  31   0
2  64      0    0  23.3   0.672  32   1
3  66     23   94  28.1   0.167  21   0
4  40     35  168  43.1   2.288  33   1

## 내보내기

In [92]:
diabetes.to_json("dataset/indian_diabetes.json")

In [93]:
diabetes_json = pd.read_json("dataset/indian_diabetes.json")
diabetes_json

     임신  포도당  혈압  피부 두께  인슐린   BMI  당뇨계열 병  나이  결과
0     6  148  72     35    0  33.6   0.627  50   1
1     1   85  66     29    0  26.6   0.351  31   0
2     8  183  64      0    0  23.3   0.672  32   1
3     1   89  66     23   94  28.1   0.167  21   0
4     0  137  40     35  168  43.1   2.288  33   1
..   ..  ...  ..    ...  ...   ...     ...  ..  ..
763  10  101  76     48  180  32.9   0.171  63   0
764   2  122  70     27    0  36.8   0.340  27   0
765   5  121  72     23  112  26.2   0.245  30   0
766   1  126  60      0    0  30.1   0.349  47   1
767   1   93  70     31    0  30.4   0.315  23   0

[768 rows x 9 columns]

## 통계

In [99]:
# 펑균
diabetes_json.mean()

임신          3.845052
포도당       120.894531
혈압         69.105469
피부 두께      20.536458
인슐린        79.799479
BMI        31.992578
당뇨계열 병      0.471876
나이         33.240885
결과          0.348958
dtype: float64

In [96]:
# 중앙에 있는 값
diabetes_json.median()

임신          3.0000
포도당       117.0000
혈압         72.0000
피부 두께      23.0000
인슐린        30.5000
BMI        32.0000
당뇨계열 병      0.3725
나이         29.0000
결과          0.0000
dtype: float64

In [102]:
# 최대, 최소

print(diabetes_json.max())
print("--------------------")
print(diabetes_json.min())

임신         17.00
포도당       199.00
혈압        122.00
피부 두께      99.00
인슐린       846.00
BMI        67.10
당뇨계열 병      2.42
나이         81.00
결과          1.00
dtype: float64
--------------------
임신         0.000
포도당        0.000
혈압         0.000
피부 두께      0.000
인슐린        0.000
BMI        0.000
당뇨계열 병     0.078
나이        21.000
결과         0.000
dtype: float64

In [104]:
# 표준편차
diabetes_json.std()

임신          3.369578
포도당        31.972618
혈압         19.355807
피부 두께      15.952218
인슐린       115.244002
BMI         7.884160
당뇨계열 병      0.331329
나이         11.760232
결과          0.476951
dtype: float64

**`corr` : 데이터 분석시 중요하게 봐야 할 부분**

인과관계 vs 상관관계  
인과관계는 원인과 결과가 일대일 대응이고 상관관계는 영향을 주는 관계다.  
- 물의 온도와 물이 끓는 상태는 인과관계다.
- 광고가 매출신장에 기여를 했다.

In [105]:
# 결과값이 모두 백분율이다
# 값이 낮으면 영향을 적게 미친다. : 선형성이 없다? 
diabetes_json.corr()

,임신,포도당,혈압,피부 두께,인슐린,BMI,당뇨계열 병,나이,결과
임신,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
포도당,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
혈압,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
피부 두께,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
인슐린,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
당뇨계열 병,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
나이,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
결과,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

In [114]:
diabetes_json.drop(["혈압", "피부 두께"], axis = 1)

     임신  포도당  인슐린   BMI  당뇨계열 병  나이  결과
0     6  148    0  33.6   0.627  50   1
1     1   85    0  26.6   0.351  31   0
2     8  183    0  23.3   0.672  32   1
3     1   89   94  28.1   0.167  21   0
4     0  137  168  43.1   2.288  33   1
..   ..  ...  ...   ...     ...  ..  ..
763  10  101  180  32.9   0.171  63   0
764   2  122    0  36.8   0.340  27   0
765   5  121  112  26.2   0.245  30   0
766   1  126    0  30.1   0.349  47   1
767   1   93    0  30.4   0.315  23   0

[768 rows x 7 columns]

In [109]:
# 결측치, data type 확인
diabetes_json.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   임신      768 non-null    int64
 1   포도당     768 non-null    int64
 2   혈압      768 non-null    int64
 3   피부 두께   768 non-null    int64
 4   인슐린     768 non-null    int64
 5   BMI     768 non-null    float64
 6   당뇨계열 병  768 non-null    float64
 7   나이      768 non-null    int64
 8   결과      768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 76.2 KB

In [111]:
# 기술통계수치 한번에 확인 가능 
diabetes_json.describe()

,임신,포도당,혈압,피부 두께,인슐린,BMI,당뇨계열 병,나이,결과
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

value_count : 특정 분류(column)에서 가장 많은 값이 무엇인지 확인 
- dropna : 결측치 고려

In [115]:
diabetes_json["BMI"].value_counts(dropna=False)

32.0    13
31.2    12
31.6    12
0.0     11
33.3    10
        ..
19.3     1
49.3     1
19.4     1
20.0     1
40.1     1
Name: BMI, Length: 248, dtype: int64

In [140]:
# data update : crUd
diabetes_json.loc[0] = [6, 148, None, 35, 0, None, None, None, 1]

In [141]:
diabetes_json.isnull().sum()

임신        0
포도당       0
혈압        1
피부 두께     0
인슐린       0
BMI       1
당뇨계열 병    1
나이        1
결과        0
dtype: int64

결측치가 일정 개수 이상이면 제거

In [142]:
diabetes_json.shape

(768, 9)

In [153]:
# 결측치 1개 이상이면 제거하라고 했는데 안된다
diabetes_json.dropna(axis=0, thresh=1).shape

(768, 9)

특정 분류에 특정 값이 있는 경우 데이터 제거

In [148]:
diabetes_json.dropna(subset=["나이"], how="any", axis=0)

     임신  포도당    혈압  피부 두께  인슐린   BMI  당뇨계열 병    나이  결과
1     1   85  66.0     29    0  26.6   0.351  31.0   0
2     8  183  64.0      0    0  23.3   0.672  32.0   1
3     1   89  66.0     23   94  28.1   0.167  21.0   0
4     0  137  40.0     35  168  43.1   2.288  33.0   1
5     5  116  74.0      0    0  25.6   0.201  30.0   0
..   ..  ...   ...    ...  ...   ...     ...   ...  ..
763  10  101  76.0     48  180  32.9   0.171  63.0   0
764   2  122  70.0     27    0  36.8   0.340  27.0   0
765   5  121  72.0     23  112  26.2   0.245  30.0   0
766   1  126  60.0      0    0  30.1   0.349  47.0   1
767   1   93  70.0     31    0  30.4   0.315  23.0   0

[767 rows x 9 columns]

공백 채우기

In [158]:
diabetes_json.loc[0]

임신          6.0
포도당       148.0
혈압          NaN
피부 두께      35.0
인슐린         0.0
BMI         NaN
당뇨계열 병      NaN
나이          NaN
결과          1.0
Name: 0, dtype: float64

In [160]:
# 0행 나이열의 NaN 값을 중앙값으로 채운다
diabetes_json["나이"].fillna(diabetes_json["나이"].median(axis=0), inplace=True)
diabetes_json.loc[0]

임신          6.0
포도당       148.0
혈압          NaN
피부 두께      35.0
인슐린         0.0
BMI         NaN
당뇨계열 병      NaN
나이         29.0
결과          1.0
Name: 0, dtype: float64

`drop_duplicates()` : 중복제거

추천 알고리즘 만들 때 이름과 상품명이 같은 경우는 중복으로 처리하여 제거한다.

In [167]:
diabetes_json.loc[1] = diabetes_json.loc[0]
diabetes_json.head()

    임신    포도당    혈압  피부 두께    인슐린   BMI  당뇨계열 병    나이   결과   1
0  6.0  148.0   NaN   35.0    0.0   NaN     NaN  29.0  1.0 NaN
1  6.0  148.0   NaN   35.0    0.0   NaN     NaN  29.0  1.0 NaN
2  8.0  183.0  64.0    0.0    0.0  23.3   0.672  32.0  1.0 NaN
3  1.0   89.0  66.0   23.0   94.0  28.1   0.167  21.0  0.0 NaN
4  0.0  137.0  40.0   35.0  168.0  43.1   2.288  33.0  1.0 NaN

In [170]:
# 1행이 사라진다. 
diabetes_json.drop_duplicates().head()

    임신    포도당    혈압  피부 두께    인슐린   BMI  당뇨계열 병    나이   결과   1
0  6.0  148.0   NaN   35.0    0.0   NaN     NaN  29.0  1.0 NaN
2  8.0  183.0  64.0    0.0    0.0  23.3   0.672  32.0  1.0 NaN
3  1.0   89.0  66.0   23.0   94.0  28.1   0.167  21.0  0.0 NaN
4  0.0  137.0  40.0   35.0  168.0  43.1   2.288  33.0  1.0 NaN
5  5.0  116.0  74.0    0.0    0.0  25.6   0.201  30.0  0.0 NaN

--------------- 교안 외 ---------------

In [20]:
# # 시각화의 한글폰트 보존을 위해 font download
# !sudo apt-get install -y fonts-nanum
# !sudo fc-cache -fv  # cache 덮어씌움
# !rm ~/.cache/matplotlib -rf

'sudo'��(��) ���� �Ǵ� �ܺ� ����, ������ �� �ִ� ���α׷�, �Ǵ�
��ġ ������ �ƴմϴ�.
'sudo'��(��) ���� �Ǵ� �ܺ� ����, ������ �� �ִ� ���α׷�, �Ǵ�
��ġ ������ �ƴմϴ�.
'rm'��(��) ���� �Ǵ� �ܺ� ����, ������ �� �ִ� ���α׷�, �Ǵ�
��ġ ������ �ƴմϴ�.

In [21]:
%matplotlib inline
import matplotlib.pyplot as plt 
plt.rc("font", family="NanumBarunGothic")

In [18]:
# !conda activate tf2_py37

In [19]:
# !pip install missingno
!conda install missingno

Collecting missingno
  Using cached missingno-0.4.2-py3-none-any.whl (9.7 kB)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\envs\tf2_py37\lib\site-packages (from missingno) (3.3.4)
Requirement already satisfied: numpy in c:\programdata\anaconda3\envs\tf2_py37\lib\site-packages (from missingno) (1.19.2)
Requirement already satisfied: scipy in c:\programdata\anaconda3\envs\tf2_py37\lib\site-packages (from missingno) (1.6.1)
Collecting seaborn
  Using cached seaborn-0.11.1-py3-none-any.whl (285 kB)
Requirement already satisfied: python-dateutil>=2.1 in c:\programdata\anaconda3\envs\tf2_py37\lib\site-packages (from matplotlib->missingno) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\envs\tf2_py37\lib\site-packages (from matplotlib->missingno) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\programdata\anaconda3\envs\tf2_py37\lib\site-packages (from matplotlib->missingno) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\envs\tf2_py37\lib\site-packages (from matplotlib->missingno) (8.1.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\envs\tf2_py37\lib\site-packages (from matplotlib->missingno) (1.3.1)
Requirement already satisfied: six in c:\programdata\anaconda3\envs\tf2_py37\lib\site-packages (from cycler>=0.10->matplotlib->missingno) (1.15.0)
Requirement already satisfied: pandas>=0.23 in c:\programdata\anaconda3\envs\tf2_py37\lib\site-packages (from seaborn->missingno) (1.2.3)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\envs\tf2_py37\lib\site-packages (from pandas>=0.23->seaborn->missingno) (2021.1)
Installing collected packages: seaborn, missingno
Successfully installed missingno-0.4.2 seaborn-0.11.1

In [22]:
import warnings     # 경고문 제거를 위함
warnings.filterwarnings(action='ignore')

import missingno as msno
msno.matrix(json_df, figsize=(12,5))

ModuleNotFoundError: No module named 'missingno'

-----------------------------------

날짜데이터

In [10]:
commerce.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

실제 구매한 고객의 데이터로, invoice date를 활용한다. 

인식을 위해 unicode_escape로 encoding했으나 이 환경에서는 문제 없으므로 그대로 진행

**하단 중요!! : customed column**

In [13]:
# column을 만든다. 이후의 작업들 단축!

commerce['parse_InvoiceDate'] = pd.to_datetime(commerce["InvoiceDate"])
commerce[["parse_InvoiceDate", "InvoiceDate"]].head()

    parse_InvoiceDate     InvoiceDate
0 2010-12-01 08:26:00  12/1/2010 8:26
1 2010-12-01 08:26:00  12/1/2010 8:26
2 2010-12-01 08:26:00  12/1/2010 8:26
3 2010-12-01 08:26:00  12/1/2010 8:26
4 2010-12-01 08:26:00  12/1/2010 8:26

Query와 유사한 기능으로 내가 원하는 데이터만 추출한다. 

1. 데이터프레임을 맨 앞에 선언
2. 대괄호 열고,
3. if문처럼 조건과 & 를 반복해서 쓴다.
    - and는 먹히지 않는다.
    - ex) `commerce[ (commerce_df['year_InvoiceDate'] == 2011) & (commerce_df['CustomerID'] == 13313.)]`
    - invoice 가 2011인 데이터 중 customer id가 13313인 사람을 골라낸다 == 13313번 고객이 2011년도에 구매한 기록